:root {
    font-size: 16px;
    --palette-pry-c1: #173F5F;
    --palette-pry-c2: #20639B;
    --palette-pry-c3: #3CAEA3;
    --palette-pry-c4: #ED553B;
    --palette-pry-c5: #F6D55C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,"SF Pro Text", "Space Grotesk", Poppins, Roboto, sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    pointer-events: none;
}

.sect {
    width: 100%;
    height: 100vh;
}

.home {
    background: rgb(120,179,227);
    background: linear-gradient(159deg, rgba(120,179,227,1) 0%, rgba(136,188,231,1) 39%, rgba(170,207,238,1) 83%, rgba(221,236,248,1) 100%);
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hdrBar {
    width: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.pageTitle {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pageTitle h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--palette-pry-c1);
    pointer-events: none;
    height: 70%;
    padding: 0 10px 0 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: .5s;
}

.titleSpan {
    display: block;
    width: 10px;
    height: 50px;
    border-radius: 20px;
    background: var(--palette-pry-c5);
    position: relative;
    overflow: hidden;
}

.titleSpan::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--palette-pry-c2);
    position: absolute;
    top: 100%;
    transition: .3s;
}

.titleSpan::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--palette-pry-c5);
    position: absolute;
    top: 100%;
    transition: .3s;
    transition-delay: .2s;
}

.pageTitle:hover .titleSpan::after {
    top: 0;
}

.pageTitle:hover .titleSpan::before {
    top: 0;
}

.pageTitle:hover h3 {
    background: rgba(32, 100, 155, 0.4);
}


.sideNav {
    padding: 50px 70px;
    height: 100%;   
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.navs {
    font-size: .6rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid var(--palette-pry-c2);
    border-radius: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    transition: .2s;
}

.navs:hover, .navs.active {
    background: var(--palette-pry-c2);
    color: var(--palette-pry-c5);
}

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 200px  0px 40px;
}

.contentBox h1 {
    font-family: "Space Grotesk";
    /* max-width: 65%; */
    font-size: 4.7rem;
    color: var(--palette-pry-c2);
    width: 80%;
}

.contentBox p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #112c42;
}

.contentBox a {
    text-decoration: none;
    padding: 5px 15px 5px 0;
    color: var(--palette-pry-c2);
    max-width: 120px;
    position: relative;
    font-size: 1.2rem;
}

.contentBox a span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: var(--palette-pry-c1);
    position: absolute;
    left: -3%;
    bottom: 0;
    overflow: hidden;
}

.contentBox a span::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--palette-pry-c5);
    transform: translateX(-100%);
    transition: .2s;
}

.contentBox a:hover span::after {
    transform: translateX(0%);
}

.contentBox a:hover {
    color: var(--palette-pry-c1);
}